<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="e1" class="com.Employee">
<property name="id" value="323"></property>
      <property name="name" value="Tushar"></property>
      <property name="address" value="Nagpur"></property>
      <property name="salary" value="50000"></property>

</bean>
</beans>
